{%- liquid
    assign vendor_handle = product.vendor | handleize
    assign vendor_collection = collections[vendor_handle]
    assign vendor_url = vendor_collection.url

   
    unless request.locale.root_url == '/'

        
        assign vendor_url_array = vendor_url | remove: request.locale.root_url | split: '#'

        
        if vendor_url_array.first == '\'
            assign vendor_url = vendor_url_array | last | prepend: '#'
        endif
    endunless
-%}

{%- if vendor_collection != blank and title_block.settings.show_vendor_name -%}
    <a href="{% if request.locale.root_url != blank %}{{ request.locale.root_url }}{% endif %}/collections/vendors?q={{ product.vendor }}">{{ product.vendor }}</a>
{%- elsif title_block.settings.show_vendor_name -%}
    <a style="color:grey; text-decoration: none; font-size: 17px; font-weight: bolder;"
       onMouseOver="this.style.color='red'" 
       onMouseOut="this.style.color='grey'" 
       href="{% if request.locale.root_url != blank %}{{ request.locale.root_url }}{% endif %}/collections/vendors?q={{ product.vendor }}">
       {{ product.vendor }}
    </a>
{%- endif -%}